SOURCES/postgresql-13.7.tar.bz2.sha256
SOURCES/postgresql-15.3-US.pdf
SOURCES/postgresql-15.3.tar.bz2
SOURCES/postgresql-15.3.tar.bz2.sha256
SOURCES/postgresql-setup-8.8.tar.gz
SOURCES/postgresql-13.7.tar.bz2
