SOURCES/postgresql-12.22.tar.bz2.sha256
SOURCES/postgresql-13.23-US.pdf
SOURCES/postgresql-13.23.tar.bz2
SOURCES/postgresql-13.23.tar.bz2.sha256
SOURCES/postgresql-setup-8.7.tar.gz
SOURCES/postgresql-12.22.tar.bz2
