SOURCES/postgresql-13.14.tar.bz2
SOURCES/postgresql-13.14.tar.bz2.sha256
SOURCES/postgresql-15.6-US.pdf
SOURCES/postgresql-15.6.tar.bz2
SOURCES/postgresql-15.6.tar.bz2.sha256
SOURCES/postgresql-setup-8.8.tar.gz
